.img-profile{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
}
.profile-top{
    margin-top: -100px;
}

/* .swiper {
    width: 50%;
    height: 50%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } */
.home{
    padding-top: 15px;
    text-align: center;
    overflow-x: hidden;
}
.brand .swiper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.brand .swiper-slide {
  text-align: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}


.brand .swiper-slide img.resize {
  display: block;
  width: 50%;
  
}
.aboutUs .swiper {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutUs .swiper-slide {
  text-align: center;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.aboutUs .swiper-slide img.resize {
  display: block;
  width: 50%;
  
}
.home{
  padding-top: 15px;
  text-align: center;
  overflow-x: hidden;
}

.home h3{
  color:var(--black);
  font-size: 7.5vw;
  text-transform: uppercase;
}



 
      
